name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        keycloak_version: [ 26.4.0, 26.4.1, 26.4.2, 26.4.3, 26.4.4, 26.4.5 ]
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Compile
        run: mvn -B -U -DskipTests=true install --file pom.xml

      - name: Run test
        run: mvn -B -U -DskipUTs=true clean test --file pom.xml -Dversion.keycloak=${{ matrix.keycloak_version }}
        env:
          MAXMIND_ACCOUNT_ID: ${{ secrets.MAXMIND_ACCOUNT_ID }}
          MAXMIND_LICENSE_KEY: ${{ secrets.MAXMIND_LICENSE_KEY }}
          IPINFO_TOKEN: ${{ secrets.IPINFO_TOKEN }}
